[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Smartisan style Dialog.
[access "refs/*"]
	owner = group user/独毒火 (liying2008)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/独毒火 (liying2008)
	label-Verified = -1..+1 group user/独毒火 (liying2008)
	push = group user/独毒火 (liying2008)
	read = group user/独毒火 (liying2008)
	rebase = group user/独毒火 (liying2008)
	removeReviewer = group user/独毒火 (liying2008)
	submit = group user/独毒火 (liying2008)
[access "refs/heads/*"]
	create = group user/独毒火 (liying2008)
	push = +force group user/独毒火 (liying2008)
	pushMerge = group user/独毒火 (liying2008)
	read = group user/独毒火 (liying2008)
[access "refs/tags/*"]
	push = group user/独毒火 (liying2008)
	push = +force group user/独毒火 (liying2008)
